* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-img {
    background-image: url(/images/Фон\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

header {
    width: 100vw;
    height: 58px;
}

.div-header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 79px;
}

.logo-style {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 100% */
}

.left-header {
    display: flex;
    flex-direction: row;
}

.svg {
    display: flex;
    flex-direction: row;
    gap: 27px;
    padding-right: 25px;
    border-right: 1px solid #FFFFFFE5;
}

.log-reg {
    display: flex;
    flex-direction: row;
    padding-left: 27px;
    align-items: center;
    justify-content: center;
}

.log-reg-style {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.hover-color:hover {
    color: #01813F;
    fill: #01813F;
}

main {
    background-color: #FFFFFF;
    margin-top: 54px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 444px;
    height: 584px;
}


.content {
    padding: 31px 60px;
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.signup {
    position: relative;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
}
.signup::before{
    content: "";
    position: absolute;
    left: -60px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.login {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}
.login:hover{
    color: #01813F;
    text-decoration: underline;
}

.socialmedia {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sc-background {
    border: none;
    padding: 11px 12px;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.sc-background:hover{
    background-color: #022263;
}
.google{
    background-color: #DF4A32;
}
.google:hover{
    background-color: #AB1F09;
}


.sc-icon {
    margin-right: 13px;
    background-image: url(/images/F.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.google-icon{
    background-image: url(/images/G+.svg);
    width: 30px;
    height: 19px;
}

.sc-text {
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    padding-left: 18px;
    color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
.or{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
}

.or::before{
    content: "";
    background-color: #F2F2F2;
width: 152px;
height: 1px;
}
.or::after{
    content: "";
    background-color: #F2F2F2;
width: 152px;
height: 1px;
}
.or-style{
    color: #848484;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}
.input-main{
margin: 12px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 15px;
}
input{
    padding-left: 19px;
    width: 324px;
height: 44px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #F2F2F2;
background-color: #FFF;
}
input:focus{
    outline-style: none;
filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.checkbox-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;
}
.checkbox{
    display: none;
}


.checkbox-style::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
position: absolute;
left: 0;
top: -3px;
    border: 1px solid #F2F2F2;
    z-index: 1;
}
.checkbox-style::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
background-image: url(/images/Vector.svg);
background-repeat: no-repeat;
opacity: 0;
background-size: 15px 15px;
position: absolute;
left: 3px;
top: 0;
    z-index: 2;
}
.checkbox:checked + .checkbox-style::after{
    opacity: 1;
}
.checkbox-style{
    padding-left: 25px;
    color: #434343;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}
.checkbox-style-o{
    color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
}
.checkbox-style-o:hover{
    color: #01813F;
    text-decoration: underline;
}

.lower-btn{
    margin-top: 20px;
    margin-bottom: 38px;
    background-color: #3CB878CC;
width: 324px;
height: 46px;
align-items: center;
border: none;
border-radius: 4px;
}
.button-style{
    color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
button:hover{
    background-color: #01813F;
}